<span *ngIf="loading">loading...</span>
<form [formGroup]="courseForm">
  <label
    >Name:
    <input type="text" formControlName="name" />
  </label>
  <label
    >Description:
    <textarea formControlName="description"></textarea>
  </label>
  <app-course-editor-author formGroupName="author"></app-course-editor-author>

  <ul formArrayName="coauthors">
    <li *ngFor="let coauthor of coauthors.controls; index as i">
      <app-course-editor-author [formGroupName]="i"></app-course-editor-author>
    </li>
    <button (click)="addCoAuthor()">Add Coauthor</button>
  </ul>

  <ul formArrayName="contents">
    <li *ngFor="let content of contents.controls; index as i">
      <div [formGroupName]="i">
        <label
          >Name:
          <input type="text" formControlName="name" />
        </label>
        <app-course-editor-duration
          formGroupName="duration"
        ></app-course-editor-duration>
        <label
          >Type:

          <select formControlName="type">
            <option
              *ngFor="let option of contentsOptions"
              [ngValue]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </label>
      </div>
    </li>
    <button (click)="addContent()">Add Content</button>
  </ul>
  <ul formArrayName="plans">
    <li *ngFor="let plan of plans.controls; index as i">
      <div [formGroupName]="i">
        <label
          >Name:
          <input type="text" formControlName="name" />
        </label>
        <label
          >Price:
          <input type="text" formControlName="price" />
        </label>
        <ul formArrayName="advantages">
          <li *ngFor="let advantage of advantages(i).controls; index as j">
            <div [formGroupName]="j">
                <label
                >Title:
                <input type="text" formControlName="title" />
              </label>
              <label
                >Available:
                <input type="checkbox" formControlName="available" />
              </label>

            </div>
          </li>
        </ul>
      </div>
    </li>
    <button (click)="addContent()">Add Content</button>
  </ul>
</form>

<button (click)="testUpdate()">update</button>
<pre>{{ this.course | json }}</pre>
