<span *ngIf="loading">loading...</span>
<form [formGroup]="courseForm">
  <label
    >Name:
    <input type="text" formControlName="name" />
  </label>
  <label
    >Description:
  <textarea formControlName="description"></textarea>
  </label>
  <div formGroupName="author">
    <label
      >First Name:
      <input type="text" formControlName="firstName" />
    </label>
    <label
      >Last Name:
      <input type="text" formControlName="lastName" />
    </label>
  </div>
</form>

<button (click)="testUpdate()">update</button>
<pre>{{ this.course | json }}</pre>
